body {
  background-color:#1a0f0f;
  color: #00ff66;
  font-family: 'Courier New', monospace;
  font-family: 'VT323', monospace;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  background-blend-mode: multiply;
  padding: 0px;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
nav {
  background-color: #000000;
  text-align: center;
  padding: 1em 0;
  font-size: 27px;
}

nav a {
  color: #cc0000;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
  font-weight: bold;
  font-size: 30px;
}
nav a:hover {
  color: #ff6600;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h1, h2, h3 {
  color: #ff6600;
  text-shadow: 0 0 3px #ff0000;
}

button, input[type="submit"] {
  font-family: 'VT323', monospace;
  background-color: #000;
  color: #00ff66;
  border: 2px solid #cc0000;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
  color: #000;
}

footer {
  text-align: center;
  color: #444;
  padding: 20px 0;
}
